.movies-card {
	font-family: "Inter", "Times New Roman", Times, serif;
	border-radius: 10px;
	width: 100%;
	height: 218px;
	box-shadow: 0 4px 4px rgba(50, 50, 71, 0.06);
	text-decoration: none;
	color: #000;
	padding: 0;
	margin: 0;
}
.movies-card__image {
	width: 100%;
	height: 151px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.movies-card__info {
	padding: 11px 12px;
}
.movies-card__info-first-line {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	/* margin-bottom: 11px; */
}
.movies-card__title {
	padding: 0;
	margin: 0;
	font-size: 13px;
	line-height: 1.21;
	font-weight: 500;
}
.movies-card__duration {
	padding: 5px 0;
	margin: 0;
	font-size: 11px;
	line-height: 1.21;
	font-weight: 400;
	color: #a0a0a0;
}
.movies-card__checkbox-like {
	width: 16px;
	height: 16px;
	background-color: white;
	border: 2px solid #fff;
	border-radius: 50%;
	vertical-align: middle;
	appearance: none;
	-webkit-appearance: none;
	outline: none;
	cursor: pointer;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.09);
}
.movies-card__checkbox-like:checked {
	background-color: #2be080;
}

@media (max-width: 1000px) {
	.movies-card {
		width: 339px;
		height: 257px;
	}
	.movies-card__image {
		width: 100%;
		height: 190px;
	}
}

@media (max-width: 600px) {
	.movies-card {
		width: 300px;
		height: 235px;
	}
	.movies-card__image {
		height: 168px;
	}
}
