.profile {
  font-family: "Inter", "Times New Roman", Times, serif;
  padding: 71px 435px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile__title {
  font-size: 24px;
  line-height: 1.21;
  font-weight: 500;
  padding: 0;
  margin: 0 0 113px;
}

.profile__name-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 5px;
}

.profile__name-container:last-of-type {
  border-bottom: 0;
  padding-top: 7px;
  margin-bottom: 205px;
}

.profile__name-label {
  font-size: 11px;
  line-height: 1.21;
  font-weight: 500;
}

.profile__name-input {
  font-size: 11px;
  line-height: 1.21;
  font-weight: 400;
  border: 0;
  text-align: right;
  padding: 0;
  background-color: rgb(255, 255, 255);
  color: black;
}

.profile__name-input:focus {
  outline: none;
}

.profile__button {
  padding: 0;
  border: 0;
  background-color: transparent;
  margin-bottom: 16px;
  font-size: 13px;
  line-height: 1.21;
  font-weight: 400;
  cursor: pointer;
}
.profile__button:last-of-type {
  color: #ee3465;
  margin-bottom: 0;
  font-weight: 500;
}

@media (max-width: 1000px) {
  .profile {
    padding: 233px 179px 269px;
  }
  .profile__title {
    margin-bottom: 86px;
  }
  .profile__name-container:last-of-type {
    margin-bottom: 196px;
  }
}
