.page-not-found {
  font-family: "Inter", "Times New Roman", Times, serif;
  padding: 246px 0 0;
  text-align: center;
  line-height: 1.21;
  font-weight: 400;
}

.page-not-found__title {
  font-size: 140px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}

.page-not-found__subtitle {
  font-size: 16px;
  padding: 0;
  margin: 0;
  margin-bottom: 184px;
}

.page-not-found__link {
  font-size: 14px;
  color: #2be080;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 1000px) {
  .page-not-found {
    padding: 408px 184px 0;
  }
}
@media (max-width: 600px) {
  .page-not-found {
    padding: 330px 10px 0;
  }
  .page-not-found__title {
    font-size: 80px;
    margin-bottom: 11px;
  }
  .page-not-found__subtitle {
    font-size: 12px;
    margin-bottom: 282px;
  }
  .page-not-found__link {
    font-size: 12px;
  }
}
