.search-form-container {
    font-family: 'Inter', 'Times New Roman', Times, serif;
    padding: 78px 70px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.search-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 27px;
    width: 100%;
}
.search-form__input {
    border: 0;
    width: 100%;
    padding: 16px 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    font-size: 14px;
    line-height: 1.29;
}
.search-form__button {
    line-height: 0;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}
.search-form__button:hover {
    opacity: 0.75;
}

.search-form__label {
    font-size: 12px;
    line-height: 1.5;
}
.checkbox-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e8e8e8;
    width: 100%;
    padding-bottom: 39px;
}
.checkbox {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
    margin-right: 12px;
}
.checkbox__input {
    opacity: 0;
    width: 0;
    height: 0;
}
.checkbox__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    transition: 0.4s;
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(50, 50, 71, 0.06);
    z-index: -1;
}
.checkbox__slider:before {
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: #2be080;
    transition: 0.4s;
    border-radius: 50%;
}
.checkbox__input:checked + .checkbox__slider:before {
    transform: translateX(16px);
}
.checkbox-container__label {
    font-size: 12px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

@media (max-width: 1000px) {
    .search-form-container {
        padding: 78px 10px 10px;
    }
    .search-form {
        margin-bottom: 39px;
    }
}

@media (max-width: 600px) {
    .search-form-container {
        padding-top: 77px;
    }
    .search-form {
        margin-bottom: 46px;
    }
    .search-form__input {
        padding: 13px;
    }
    .checkbox-container__label {
        font-size: 11px;
        line-height: 1.64;
    }
}
