.register {
  font-family: "Inter", "Times New Roman", Times, serif;
  padding: 70px 442px;
}

.form-register__button {
  border: 0;
  background-color: #2be080;
  border-radius: 3px;
  width: 100%;
  padding: 13px 0 15px;
  margin: 152px 0 3px;
  color: #fff;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 500;
}
