.techs {
  font-family: "Inter", "Times New Roman", Times, serif;
  background-color: #f5f5f5;
  padding: 100px 70px;
}

.techs__title {
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 1.21;
  font-weight: 400;
  letter-spacing: -0.88px;
  margin-bottom: 23px;
}
.techs__desc {
  border-top: 1px solid #000;
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.techs__desc-title {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 50px;
  line-height: 1.16;
  font-weight: 400;
  letter-spacing: -2px;
  margin-bottom: 26px;
}

.techs__desc-paragraph {
  text-align: center;
  margin: 0 0 100px;
  padding: 0 340px;
  font-size: 14px;
  line-height: 1.43;
  font-weight: 400;
  letter-spacing: -0.56px;
}

.techs__names {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  margin: 0;
  padding: 0;
}

.techs__name {
  width: 90px;
  height: 60px;
  background-color: #e8e8e8;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 400;
  letter-spacing: -0.56px;
}
