.about-me {
  font-family: "Inter", "Times New Roman", Times, serif;
  background-color: #fff;
  padding: 111px 70px 107px;
}

.about-me__title {
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 1.21;
  font-weight: 400;
  letter-spacing: -0.88px;
  margin-bottom: 23px;
}

.about-me__article {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #000;
  padding-top: 66px;
  margin-bottom: 101px;
  column-gap: 270px;
}

.about-me__article-title {
  margin: 0 0 19px;
  padding: 0;
  font-size: 50px;
  line-height: 1.16;
  font-weight: 400;
  letter-spacing: -2px;
}

.about-me__article-subtitle {
  margin: 0 0 26px;
  padding: 0;
  font-size: 18px;
  line-height: 1.11;
  font-weight: 500;
}

.about-me__article-paragraph {
  margin: 0 0 100px;
  padding: 0;
  font-size: 14px;
  line-height: 1.6;
  font-weight: 400;
}
.about-me__personal-links {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
.about-me__personal-link {
  list-style: none;
  margin-right: 20px;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 500;
  cursor: pointer;
}
.about-me__photo {
  width: 270px;
  height: 327px;
  border-radius: 10px;
}

.about-me__portfolio-title {
  font-size: 18px;
  line-height: 1.11;
  font-weight: 400;
  color: #a0a0a0;
  margin: 0 0 30px;
  padding: 0;
}
.about-me__portfolio-links {
  margin: 0;
  padding: 0;
}
.about-me__portfolio-link {
  list-style: none;
  margin: 0;
  padding: 20px 0 14px;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 30px;
  line-height: 1.67;
  font-weight: 400;
  letter-spacing: -1.2px;
  cursor: pointer;
}

.about-me__portfolio-link-arrow {
  padding-top: 5px;
  padding-right: 2px;
}

.about-me__portfolio-link:last-of-type {
  border-bottom: none;
}
.about-me__portfolio-link:hover {
  opacity: 0.6;
}

@media (max-width: 1000px) {
  .about-me {
    padding: 91px 50px 72px;
  }
  .about-me__article {
    margin-bottom: 91px;
    column-gap: 50px;
  }
  .about-me__article-title {
    margin: 0 0 16px;
    font-size: 40px;
    line-height: 1;
    letter-spacing: -1.6px;
  }
  .about-me__article-subtitle {
    margin: 0 0 20px;
    font-size: 12px;
    line-height: 1.5;
  }
  .about-me__article-paragraph {
    margin: 0 0 88px;
    font-size: 12px;
    line-height: 1.5;
  }
  .about-me__photo {
    width: 255px;
    height: 307px;
  }
  .about-me__portfolio-link {
    font-size: 28px;
    line-height: 1.79;
    letter-spacing: -1.2px;
  }
}
@media (max-width: 600px) {
  .about-me {
    padding: 69px 15px 51px 14px;
  }
  .about-me__title {
    margin: 0;
    padding: 0;
    font-size: 18px;
    letter-spacing: -0.72px;
    margin-bottom: 28px;
  }
  .about-me__article {
    flex-direction: column-reverse;
    row-gap: 40px;
    margin-bottom: 70px;
    padding-top: 60px;
  }
  .about-me__photo {
    width: 292px;
    height: 352px;
  }
  .about-me__article-title {
    margin: 0 0 21px;
    font-size: 30px;
    line-height: 1.21;
    letter-spacing: -1.2px;
  }
  .about-me__article-subtitle {
    font-size: 11px;
    line-height: 1.4545;
  }
  .about-me__article-paragraph {
    font-size: 11px;
    margin-bottom: 41px;
  }
  .about-me__personal-link {
    margin-right: 27px;
  }
  .about-me__portfolio-title {
    font-size: 14px;
    line-height: 1.43;
    margin: 0 0 21px;
  }
  .about-me__portfolio-links {
    margin: 0;
    padding: 0;
  }
  .about-me__portfolio-link {
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: -0.72px;
    padding: 21px 0 18px;
  }

  .about-me__portfolio-link-arrow {
    padding-top: 0;
    padding-right: 0;
  }
}
