.nav-tab {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px 502px;
  font-family: "Inter", "Times New Roman", Times, serif;
  font-size: 13px;
  line-height: 1.23;
  font-weight: 500;
  margin: 0;
  column-gap: 40px;
}

.nav-tab__button-kontainer {
  background-color: transparent;
  list-style: none;
}

.nav-tab__button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #000;
}
